################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularDemoWebApp/AngularDemoWebApp/obj/Debug
/AngularDemoWebApp/AngularDemoWebApp/bin
/AngularDemoWebApp/.vs/AngularDemoWebApp/v15/Server/sqlite3
/AngularDemoWebApp/AngularDemoWebApp.DAL/bin/Debug
/AngularDemoWebApp/AngularDemoWebApp.DAL/obj/Debug
/AngularDemoWebApp/AngularDemoWebApp.Domain/bin/Debug
/AngularDemoWebApp/AngularDemoWebApp.Domain/obj/Debug
/AngularDemoWebApp/AngularDemoWebApp.Service/bin/Debug
/AngularDemoWebApp/AngularDemoWebApp.Service/obj/Debug
